@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #060A0F;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #060A0F #060A0F;
}

/* Chrome, Edge and Safari */
html::-webkit-scrollbar {
  width: 7px;
  width: 7px;
}
html::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #060A0F;
}

html::-webkit-scrollbar-track:hover {
  background-color: #060A0F;
}

html::-webkit-scrollbar-track:active {
  background-color: #060A0F;
}

html::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #060A0F;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #060A0F;
}

html::-webkit-scrollbar-thumb:active {
  background-color: #060A0F;
}

body {
  font-family: "Sora", sans-serif;
  color: white;
  width: 100vw;
  height: 100vh;
  background: #060A0F;
}

.toast-position {
  bottom: 1em !important;
  right: 10em !important;
}

.progress {
  display:block;
  transition: width 1s ease-out;
  -webkit-transition: width 1s ease-out;
  -moz-transition: width 1s ease-out;
}

.opact-button:hover::after {
  right: 0%;
  transition: right 0.3s ease-out;
}
.opact-button::after {
  pointer-events: none;
  left: -40px;
  z-index: 0;
  content: '';
  height: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  min-width: 40px;
  right: 100%;
  overflow: hidden;
  border-radius: 100px;
  background: linear-gradient(
    264.6deg,
    #ad51ff 12.18%,
    #1a92ff 91.42%
  );
}

.modal-bg {
  background: rgba(13, 17, 22, 0.48);
  backdrop-filter: blur(4px);
}

.dropdown-bg {
  border-radius: 8px;
  background: rgba(6, 10, 15, 0.42);
  backdrop-filter: blur(6px);
}
