@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sora", sans-serif;
  color: white;
  width: 100vw;
  height: 100vh;
  background: #e8eaff;
}
