@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Sora", sans-serif;
  color: white;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #ffffff -1.75%, #d5eef4 105.87%);
}
