@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #757575 #07cf9f;
}

/* Chrome, Edge and Safari */
html::-webkit-scrollbar {
  width: 7px;
  width: 7px;
}
html::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #98e2d0;
}

html::-webkit-scrollbar-track:hover {
  background-color: #bdfbec;
}

html::-webkit-scrollbar-track:active {
  background-color: #bdfbec;
}

html::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #07cf9f;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #07cf9f;
}

html::-webkit-scrollbar-thumb:active {
  background-color: #07cf9f;
}

body {
  font-family: "Sora", sans-serif;
  color: white;
  width: 100vw;
  height: 100vh;
  background: #e8eaff;
}

.toast-position {
  bottom: 1em !important;
  right: 10em !important;
}

.progress {
  display:block;
  transition: width 3.5s ease-out;
  -webkit-transition: width 3.5s ease-out;
  -moz-transition: width 3.5s ease-out;
}
